@use '../util' as u;

:root {
  --main-color: #f48225;
  --box-shadow: 0 0 0 1px rgb(0 0 0 / 7%), 0 2px 4px rgb(0 0 0 / 5%),
    0 12px 24px rgb(0 0 0 / 5%);
}

.header__nav-logo--svg {
  width: 40px;
  height: 40px;
}
header {
  position: sticky;
  top: 0;
  backdrop-filter: saturate(180%) blur(5px);
  background: hsla(0, 0%, 100%, 0.8);
}
.header {
  // 헤더를 상단에 붙이기

  &__container {
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;

    &-wrapper {
      display: flex;
      align-items: center;
    }
    &-logo {
      display: flex;
      align-items: center;
      margin-right: 20px;

      h1 {
        margin: 0;

        span {
          display: block;
          color: var(--main-color);
        }
      }
    }

    &-list {
      display: flex;
      gap: 20px;

      span {
        color: #696969;

        &:hover {
          color: var(--main-color);
          transition: color 0.2s ease;
        }
      }
    }

    &-buttons {
      // border: 1px solid;
      display: flex;
      gap: 5px;

      &--feedback {
        padding: 0.5rem 1rem;
        background-color: inherit;
        color: var(--main-color);
        border: 1px solid;
        border-radius: 7px;

        &:hover {
          border: 1px solid;
          border-radius: 7px;
          transition: background-color 0.2s ease-in-out;
          background-color: opacity($color: #614b4b);
        }
      }

      &--login {
        margin: 0;
        padding: 0.5rem 1rem;
        background-color: var(--main-color);
        color: #fff;
        border-radius: 7px;

        &:hover {
          background-color: #fff;
          color: var(--main-color);
          border: 1px solid;
          border-radius: 7px;
          transition: background-color 0.5s ease;
        }
      }
    }
  }
}

.main {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
  max-width: 1024px;
  text-align: center;

  &__container {
    padding: 40px 0px;
    min-width: 200px;
    box-shadow: var(--box-shadow);
    border-radius: 7px;
    margin-bottom: 10px;
    &-content {
      &--logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 30px 30px 0;

        h1 {
          span {
            color: var(--main-color);
          }
        }

        &-svg {
          // width: clamp(120px, 120px, 120px);
          // min-width: 120px;
          width: 120px;
        }
      }
    }
  }

  &__search {
    display: flex;
    // flex-direction: column;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
    max-width: 90%;
    min-width: 200px;

    &-padding {
      width: 45%;
      min-width: 350px;
    }
    &-container {
      display: flex;
      justify-content: space-between;

      border: 1px solid var(--main-color);
      border-radius: 8px;
      box-shadow: var(--box-shadow);
    }

    &--icon {
      display: inline-block;
      font-size: 40px;
    }
    &--input {
      max-width: 300px;
    }

    &--options {
      display: flex;
      align-items: center;

      & > select {
        height: 100%;
        border: var(--main-color);
        background-color: var(--main-color);
        color: #fff;
        border-radius: 7px;

        &:hover,
        &:active {
          background-color: #fff;
          color: var(--main-color);
          transition: background-color 0.5s ease;
        }
      }
      &-page {
        // height: 100%;
      }

      &-select-year {
        // height: 100%;
      }
    }

    &--button {
      margin: 0;
      padding: 0.5rem 1rem;
      min-width: 80px;

      background-color: var(--main-color);
      color: #fff;
      border-radius: 7px;

      &:hover,
      &:active {
        background-color: #fff;
        color: var(--main-color);
        border: 1px solid;
        border-radius: 7px;
        transition: background-color 0.5s ease;
      }
    }
  }
}

// error
.error {
  text-align: center;
  font-size: 2rem;
}

// loading

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 6rem;
  height: 6rem;
  border: 5px solid var(--grey-400);
  border-radius: 50%;
  border-top-color: var(--primary-500);
  animation: spinner 0.6s linear infinite;
}
.loading {
  margin: 0 auto;
  margin-top: 4rem;
}

.section {
  margin: 20px auto;
  max-width: 1024px;

  // border: 1px solid;
  box-shadow: var(--box-shadow);
  border-radius: 7px;

  &__container {
    min-width: 100%;
    min-height: 300px;
    max-width: auto;
    margin: 0 auto;
    padding: 10px;
    display: flex;
    justify-content: center;

    & > img {
      width: 50px;
      // margin: 0 auto;
    }
    &-movie-card-container {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      row-gap: 20px;
      place-items: center;
      width: 100%;
      padding: 10px;
    }

    &-movie-card {
      width: 220px;
      height: 380px;

      box-shadow: var(--box-shadow);
      border-radius: 7px;
      overflow: hidden;

      &:hover {
        transform: scale(1.2);
      }

      &--img {
        width: 210px;
        height: 320px;
        object-fit: contain;
        overflow: hidden;
        margin: 0 auto;
        object-fit: cover;

        &:hover {
          cursor: pointer;
          // background: rgba(0, 0, 0, 0.7);
        }
      }

      &--thumb {
      }

      &--btn {
        display: flex;
        align-items: center;
        gap: 10px;

        &-add {
          border: 1px solid;
          padding: 5px;

          background-color: inherit;
          color: var(--main-color);
          border: 1px solid;
          border-radius: 7px;

          &:hover {
            border: 1px solid;
            border-radius: 7px;
            transition: background-color 0.2s ease-in-out;
            background-color: opacity($color: #614b4b);
          }
        }

        &-remove {
          border: 1px solid;
          padding: 5px;

          background-color: var(--main-color);
          color: #fff;
          border-radius: 7px;

          &:hover,
          &:active {
            background-color: #fff;
            color: var(--main-color);
            border: 1px solid;
            border-radius: 7px;
            transition: background-color 0.5s ease;
          }
        }
      }
    }
  }
}

.flex {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

// movie modal-overlay
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: clamp(380px, 80%, 1024px);
  height: clamp(700px, 80%, 800px);

  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;

  z-index: 10;
  padding: 25px;
  background-color: #fff;
  border: 1px solid black;
  border-radius: 10px;

  overflow: scroll;

  &.active {
    transform: translate(-50%, -50%) scale(1);
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    // border-bottom: 1px solid;
    padding: 0px 15px;

    &-title {
    }

    &-close-button {
      // padding: 4px 10px;
      width: 30px;
      height: 30px;
      font-size: 20px;
      border-radius: 7px;
      border: 1px solid var(--main-color);

      &:hover {
        background-color: #f48225;
        color: #fff;
      }
    }
  }

  &-body {
    display: flex;

    padding: 10px 15px;

    img {
      width: 300px;
      height: 400px;
    }
  }
}

#overlay {
  position: fixed;
  opacity: 0;

  transition: 200ms ease-in-out;

  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;

  &.active {
    opacity: 1;
    pointer-events: all;
  }
}
// #overlay

.detail {
  margin-left: 20px;

  &-infos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;

    &__subheading {
      // margin-bottom: 5px;

      &--label {
        // margin-bottom: 5px;
      }
    }
  }
}

@include u.breakpoint-down(medium) {
  .section {
    &__container {
      &-movie-card-container {
        grid-template-columns: repeat(3, 1fr);
      }
    }
  }

  .modal-body {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    img {
      margin: 0 auto;
      margin-bottom: 10px;
    }
  }
}

@include u.breakpoint-down(small) {
  .section {
    //
    &__container {
      //
      &-movie-card-container {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }

  .modal {
    width: clamp(380px, 95%, 1024px);
    height: clamp(700px, 96%, 800px);
  }
}

@include u.breakpoint-down(xsmall) {
  .section {
    //
    &__container {
      //
      &-movie-card-container {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
